# =========================
# H2 - Desenvolvimento/Testes
# =========================

DB_URL=jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
DB_USERNAME=
DB_PASSWORD=

DB_TEST_URL=jdbc:h2:mem:erpt;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
DB_TEST_USERNAME=
DB_TEST_PASSWORD=

# =========================
# PostgreSQL
# =========================

POSTGRES_DB=erp
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432