# Profile local
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
POSTGRES_DB=erp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Administrador inicial (opcional)
APP_ADMIN_NOME=Administrador
APP_ADMIN_EMAIL=admin@erp.local
APP_ADMIN_SENHA=troque-esta-senha
